*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.btn{
background-color: #469165;
padding: 12px 16px;
border-radius: 4px;
border: none;
color: #ffffff;
font-style: 700;
}
.btn:hover{
background-color: black;
color: white;
}

nav{width: 1341px;
max-width: 1600px;
/* border: 1px solid red */
margin:0 auto;
/* background-color: aquamarine; */

display: flex;
justify-content: space-around;
align-items: center;
}

.logo img{
margin: 16px 0;
}

nav ul{
list-style-type: none;
display: flex;
}
nav ul li{
margin: 34px 32px;
}
nav ul li a{
text-decoration: none;
font-size: 16px;
font-weight: 500;
color: black;
}
