*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.btn{
background-color: #469165;
padding: 12px 16px;
border-radius: 4px;
border: none;
color: #ffffff;
font-style: 700;
}
.btn:hover{
background-color: black;
color: white;
}
/* header starts */
nav{width: 1341px;
max-width: 1600px;

margin:0 auto;


display: flex;
justify-content: space-around;
align-items: center;
}

.logo img{
margin: 16px 0;
}

nav ul{
list-style-type: none;
display: flex;
}
nav ul li{
margin: 34px 32px;
}
nav ul li a{
text-decoration: none;
font-size: 16px;
font-weight: 500;
color: black;
}
.nav::after{
display: table;
clear: both;
content: '';
}
/* header end */
/* main starts */
.main{
background-image: url(assets/hero-bg.png);

}
.btn1{
padding: 8px 12px 8px 34px;
background-color: white;
border-radius:1000px ;
font-size: 16px;
color: #469165;

}

section{
text-align: center;
padding: 115.5px 120px 179.5px 120px;

}
section h1{
font-size:72px;
color: white;
font-style: bold;
font-weight: 700;
line-height: 85px;
text-transform: capitalize;
}
.h1{
font-size: 72px;
color: #469165;
font-style: bold;
font-weight: 700;
line-height: 84px;
text-transform: capitalize;
}
section .p{
color: white;
font-size: 18px;
line-height: 24px;
margin-top: 16px;
margin-bottom: 32px;
}

section .btn2{
padding: 16.5px 40px 16.5px 10px;
background-color: #469165;
color: white;
font-size: 16px;
border: none;
text-align: center;
margin-right: 16px;
border-radius: 4px;
}
section .btn2 img{
height: 20px;
width: 20px;
}
section .btn3{
background-color: transparent;
color: white;
border: 1px solid white;
padding: 16px 6px 16px 46px;
border-radius: 4px;
font-size: 16px;
}
section .btn3 img{
height: 20px;
width: 20px;
}

/* main section end */

/* article starts */
article{
text-align: center;
padding: 44px 0;
}
article h1{
font-size: 48px;
font-weight: bold;
line-height: 58px;
text-transform: capitalize;
}
article p{
font-size: 16px;
line-height: 20px;
color: #627382;
}




.card-container{
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
flex-wrap: wrap;

}
.card{
width: 322px;

}
.card:hover{
box-shadow: 4px 0px 8px 0px  gray;
}
.card-body{
text-align: center;
}
.card-body img{
border-radius: 50%;
margin-top: 69.5px;
background-color: #f95555;
color: #ffffff;

height: 35px;
width: 35px;
padding: 5px;
}
.card-title h3{
font-size: 24px;
padding: 16px 0;
color: #001931;
}
.card-desc p{
font-size:16px ;
color:#627382 ;
margin-bottom: 30px;
}


aside{
padding-top:120px ;
display: flex;
justify-content: center;
align-items: center;
gap: 60px;
}
.div1 img{
height: 600px;
width: 600px;
}

.div2 h5{
text-transform: uppercase;
font-size: 16px;
color:#30b868 ;
}
.div2 h1{
font-size: 48px;
font-weight: bold;
text-transform: capitalize;
color: #001931;
margin-top: 36px;
}
.div2 p{
font-size: 16px;
color: #627382;
line-height: 20px;
margin-top: 16px;
}

